{{ with .Site.Data.aboutSection }}
{{ if .enable }}
<section class="section about" id="about">
    <div class="container">
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="about_content">
                    <div class="about_content-thumb">
                        <div class="about-svg">
                            <img src="images/hero/figure-svg-multi.svg" alt="figure-svg">
                        </div>
                        <div class="resume__education_item">
                          <div class="about_content-thumb">
                              <div class="about_content-thumb-image">
                                  <img src="{{ .image | absURL }}" alt="about-img">
                              </div>
                          </div>
                        </div>
                        <p>{{ .content | markdownify }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
