{{ with .Site.Data.serviceSection }}
{{ if .enable }}
<section class="section service" id="service">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 offset-lg-1 text-justify">
        <div class="portfolio__header mb-5">
          <span class="top-title">{{ .topTitle }}</span>
          {{ .title | markdownify }}
          {{ .serviceInfo | markdownify }}
        </div>
          <div class="row mb-5 text-center">
            <div class="col-lg-6">
              <div class="service-details-service text-dark">
                  {{ .listA  | markdownify }}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="service-details-service text-dark">
                  {{ .listB | markdownify }}
              </div>
            </div>
          </div>
          <div>
            <a class="separatePageLink"
                href="{{ .faqPage | absURL }}">Frequently Asked Questions</a>
            <br />
            <br />
            <br />
          </div>
    </div>
  </div>
  </div>
  </section>
  {{ end }}
  {{ end }}
